# Sentiment Analysis -- JQA

In [1]:
import re, csv, glob, spacy, warnings
import pandas as pd
import numpy as np
from textblob import TextBlob

nlp = spacy.load('en_core_web_sm')

# Ignore warnings related to deprecated functions.
warnings.filterwarnings('ignore')

# Declare directory location to shorten filepaths later.
abs_dir = "/Users/quinn.wi/Documents/"

# Read in file; select columns; drop rows with NA values (entries without a named person).
df = pd.read_csv(abs_dir + 'Data/Output/ParsedXML/JQA_Subjects-dataframe.txt',
                 sep = '\t') \
    .drop(columns = ['file']) \
    .dropna()

df.head()

,entry,date,subject,text
0,jqadiaries-v30-1817-10-01,1817-10-01,"Adams Family Residences,Commerce",1. IV:30. Wednesday. Wrote a Letter to J. L. S...
1,jqadiaries-v30-1817-10-02,1817-10-02,"Foreign Relations,Health and Illness,South Ame...",2. IV: Continued drafting instructions for Rus...
2,jqadiaries-v30-1817-10-03,1817-10-03,"Adams Family Residences,Privateering,Recreatio...",3. IV: I had visits this morning from Mr Levet...
3,jqadiaries-v30-1817-10-04,1817-10-04,"Commerce,Foreign Relations,Health and Illness",4. IV: I waked before three and had afterwards...
4,jqadiaries-v30-1817-10-05,1817-10-05,Adams Family Residences,5. V: The Ladies went this morning to St. John...

In [2]:
%%time

text = "I had a really horrible day. It was the worst day ever! But every now and then I have a really good day that makes me happy."
# doc = nlp(text)
blob = TextBlob(text)

print('Polarity:', blob.sentiment.polarity)

Polarity: -0.125
CPU times: user 35.6 ms, sys: 2.75 ms, total: 38.3 ms
Wall time: 38 ms

In [21]:
%%time

def get_sentiment(txt):
    blob = TextBlob(txt)
    return blob.sentiment.polarity

df['sentiment'] = df['text'].apply(get_sentiment)

df.head(3)

CPU times: user 4.67 s, sys: 19.8 ms, total: 4.69 s
Wall time: 4.74 s

,entry,date,subject,text,sentiment
0,jqadiaries-v30-1817-10-01,1817-10-01,"Adams Family Residences,Commerce",1. IV:30. Wednesday. Wrote a Letter to J. L. S...,-0.001515
1,jqadiaries-v30-1817-10-02,1817-10-02,"Foreign Relations,Health and Illness,South Ame...",2. IV: Continued drafting instructions for Rus...,0.067374
2,jqadiaries-v30-1817-10-03,1817-10-03,"Adams Family Residences,Privateering,Recreatio...",3. IV: I had visits this morning from Mr Levet...,0.024020

In [23]:
%%time

df['sentiment'].describe()

CPU times: user 2.08 ms, sys: 587 Âµs, total: 2.67 ms
Wall time: 2.16 ms

count    2303.000000
mean        0.060606
std         0.099994
min        -0.715000
25%         0.000000
50%         0.061184
75%         0.112426
max         0.800000
Name: sentiment, dtype: float64

In [24]:
%%time

df[['date', 'sentiment']].to_csv(abs_dir + 'Data/Output/Sentiment/jqa_sentiments.csv', sep = ',', index = False)

CPU times: user 10.3 ms, sys: 3.03 ms, total: 13.3 ms
Wall time: 14 ms