# GeoTagger - Spacy

In [1]:
# Import necessary libraries.
import re, warnings, urllib, requests, spacy, geopy, folium, os, sys, glob
import pandas as pd
import numpy as np
from collections import Counter
from geopy.extra.rate_limiter import RateLimiter

# Import project-specific functions. 
# Python files (.py) have to be in same folder to work.
lib_path = os.path.abspath(os.path.join(os.path.dirname('Correspondence_XML_parser.py'), '../Scripts'))
sys.path.append(lib_path)

from Correspondence_XML_parser import *

nlp = spacy.load('en_core_web_sm')

# Ignore warnings related to deprecated functions.
warnings.filterwarnings('ignore')

## Get XML Files

In [2]:
%%time

# Declare directory location to shorten filepaths later.
abs_dir = "/Users/quinn.wi/Documents/"

input_directory = "Data/PSC/Taney/TaneyXML-Oct2020/*.xml"

# Gather all .xml files using glob.
files = glob.glob(abs_dir + input_directory)

CPU times: user 1.03 ms, sys: 1.24 ms, total: 2.28 ms
Wall time: 1.78 ms

In [ ]:
# %%time

# # Must be connected to Northeastern's VPN.
# r = requests.get(url, 
#                  auth = (user, pw), 
#                  headers = {'Content-Type': 'application/xml'}
#                 )
    
# # Read in contents of pipeline.
# soup = BeautifulSoup(r.content, 'html.parser')

# # Split soup's content by \n (each line is a file path to an XML doc).
# # Use filter() to remove empty strings ('').
# # Convert back to list using list().
# files = list(filter(None, soup.text.split('\n')))

# # Filter list and retrieve only jqa/ files.
# files = [i for i in files if 'jqa/' in i]

# len(files)

## Build Dataframe

In [3]:
%%time

# Build dataframe from XML files.
# build_dataframe() called from Correspondence_XML_parser
# df = build_dataframe(files, url, user, pw)
df = build_dataframe(files)

df.head(3)

/Users/quinn.wi/Documents/Data/PSC/Taney/TaneyXML-Oct2020/RBT00009-collation.xml

/Users/quinn.wi/Documents/Data/PSC/Taney/TaneyXML-Oct2020/RBT00021-collation.xml

/Users/quinn.wi/Documents/Data/PSC/Taney/TaneyXML-Oct2020/RBT00022-collation.xml

CPU times: user 18.9 ms, sys: 4.55 ms, total: 23.4 ms
Wall time: 22 ms

,file,date,source,target,subjects,references,text
0,RBT00107-collation.xml,1833-09-11,RBT,Ellicott-Thomas,,,Washington Sept. 11. 1833 My Dear Sir I hope ...
1,RBT00110-collation.xml,1833-09-19,RBT,Ellicott-Thomas,Bank War,,Washington Sept. 20th 1833 My Dear Sir I rece...
2,RBT00667-collation.xml,0000-00-00,RBT,Henshaw-David,"Bank of the United States,Treasury",,"October 2nd 183 Sir, It having been intimated..."

## Get Place Names

In [4]:
%%time

def get_placenames(text):
    doc = nlp(text)
    places = [ent.text for ent in doc.ents if ent.label_ in ['LOC', 'GPE']]
    return places
    
df['places'] = df['text'].apply(lambda x: get_placenames(x))

df = df[['file', 'date', 'places']]
df = df.explode('places')

df.head(3)

CPU times: user 1.32 s, sys: 39 ms, total: 1.36 s
Wall time: 1.38 s

                     file        date      places
0  RBT00107-collation.xml  1833-09-11  Washington
0  RBT00107-collation.xml  1833-09-11   Baltimore
0  RBT00107-collation.xml  1833-09-11  Washington

## GeoCode Places

In [5]:
%%time

# https://www.natasshaselvaraj.com/a-step-by-step-guide-on-geocoding-in-python/
def geocode(place):
#     url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(place) +'?format=json'
    url = 'https://nominatim.openstreetmap.org/search/' + str(place) + '?format=json'
    response = requests.get(url).json()
    if (len(response) != 0):
#         Default (response[0]): select first search hit in OpenStreetMap.
        return (float(response[0]['lat']), float(response[0]['lon']))
    else:
        return None 

df['coordinates'] = df['places'].apply(geocode)
df[['lat', 'lon']] = pd.DataFrame(df['coordinates'].tolist(), index = df.index)

# Convert to floats.
df['lat'] = df['lat'].apply(lambda x: float(x))
df['lon'] = df['lon'].apply(lambda x: float(x))

df = df.dropna()

df.head(3)

CPU times: user 1.2 s, sys: 93.8 ms, total: 1.29 s
Wall time: 52.3 s

,file,date,places,coordinates,lat,lon
0,RBT00107-collation.xml,1833-09-11,Washington,"(38.8950368, -77.0365427)",38.895037,-77.036543
0,RBT00107-collation.xml,1833-09-11,Baltimore,"(39.2908816, -76.610759)",39.290882,-76.610759
0,RBT00107-collation.xml,1833-09-11,Washington,"(38.8950368, -77.0365427)",38.895037,-77.036543

## Save Data

In [6]:
%%time

df.to_csv(os.path.abspath('../../lab_space/projects/taney/geo/data/taney_geoReference.csv'), 
                          sep = ',', index = False)

CPU times: user 2.65 ms, sys: 1.82 ms, total: 4.47 ms
Wall time: 3.63 ms